# Copyright (c) 2023 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

mainmenu "OPTEE Library"

config OPTEE_CLIENT
	bool "Enable optee-client"
	help
	  Enable OP-TEE client libraries. Application can use this
	  library for use OP-TEE capabilities and services. This
	  includes libteec, libckteec, libseteec, libteecacl libraries
	  and tee supplicant

if OPTEE_CLIENT

config OPTEE_LIBTEEC
	bool "Enable libteec"
	help
	  Enable libteec library. Basic library for other OP-TEE
	  client libraries. This library performes calls to OP-TEE.
	  Library also provides basic function for allocate/release
	  shared with OP-TEE memory

config OPTEE_LIBCKTEEC
	bool "Enable libckteec"
	depends on OPTEE_LIBTEEC
	help
	  This library gives ability to use Public-key Cryptography
	  Standards #11 (PKCS #11).
	  API provided by loadable trusted application. This application
	  is loaded during library initialization procedure.

config OPTEE_TEE_SUPPLICANT
	bool "Enable build of TEE Supplicant"
	depends on OPTEE_LIBTEEC
	help
	  tee-supplicant is intermediary between OP-TEE and application.
	  It allocates memory in application for OP-TEE, loads trusted
	  applications from application and perform file system operation
	  on non-volatile memory devices which inaccessible from OP-TEE

endif
